<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>

		<setting name="cacheEnabled" value="true" />

	</settings>

	<typeAliases>

		<typeAlias type="com.cq.wf.web.utils.WFDataSourceFactory"

			alias="adpool" />

	</typeAliases>

	<environments default="wf">

		<environment id="wf">

			<transactionManager type="JDBC" />

			<dataSource type="adpool">

			</dataSource>

		</environment>

	</environments>

	<mappers>

		<mapper resource="com/cq/wf/db/sql/sampleSql.xml" />

	</mappers>

</configuration>  